In [4]:
# !pip install -U -q tweepy
# !pip install -U -q emoji
# !pip install -U -q pydrive
# !pip install -U -q google.colab

^C
ERROR: Operation cancelled by user

In [14]:
import tweepy
import pandas as pd
import json
from requests_oauthlib import OAuth1Session
import time
from datetime import date
import emoji

In [6]:
api_key = "h50aoVmiuNFuHI8o3dZE7C15N" 
api_secret_key = "Dz6jeUBUdGp43uJugObOgIqnVdCbUrbrkwkcjAibmlDQwq6sdL" 
access_token = "1311739853307027457-HqUEzNSGtzdFqkFDFmdYg5UcMEjPv2" 
access_token_secret = "iabmz6wZ0gucIodSNJ9TfSfnrT17yJXjDAu13y4QF8hLI"

In [7]:
twitter = OAuth1Session(api_key,
                        client_secret=api_secret_key,
                        resource_owner_key=access_token,
                        resource_owner_secret=access_token_secret)

auth = tweepy.OAuthHandler(api_key, api_secret_key)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth,wait_on_rate_limit=True)

In [18]:
# username = 'malditobulo' No__Plandemia Solo__Verdad ANTIMASCARILLA FoxMuld88326271 #Plandemia SaludPublicaEs sanidadgob eldiarioes andaluciadatos
# maldita_ciencia opsoms bbcmundo Chequeado JustiaLatinAmer 14ymedio PericoAFuego DiegoMo53772865 WHO el_pais
count = 2
language = "es"
user_name = "maldita_ciencia"
text_query = "from:"+user_name  #  -filter:retweets


try:     
    # Creation of query method using parameters
    tweets = tweepy.Cursor(api.search,
                        q = text_query ,
                        lang = language).items(count)

    # Pulling information from tweets iterable object
    tweets_list = [[tweet.user.screen_name,
                 tweet.text,
                 tweet.user.verified,  
                 tweet.created_at, 
                 tweet.id, 
                 tweet.user.location,
                 tweet.user.url
                 ] for tweet in tweets]
    # Creation of dataframe from tweets list
    # Add or remove columns as you remove tweet information
    tweets_df = pd.DataFrame(tweets_list, columns = ["screen_name", 
                                                  "text", "user_verified", 
                                                  "created_at", "tweet_id", 
                                                  "user_location", "user_url"])

except BaseException as e:
    print('failed on_status,',str(e))
    time.sleep(3)

tweets_df["text"] = tweets_df["text"].apply(emoji.demojize)

from datetime import date
today = date.today()

file_name = user_name+"-"+str(today)+".json"
tweets_df.to_json(file_name)

In [19]:
tweets_df

,screen_name,text,user_verified,created_at,tweet_id,user_location,user_url
0,maldita_ciencia,RT @maldita_es: En @MalditaTech te explicamos...,True,2020-10-03 10:07:27,1312333433000128513,,https://t.co/cUENoJpOk2
1,maldita_ciencia,"RT @malditobulo: Estamos en Twitter, Facebook,...",True,2020-10-03 10:07:10,1312333363710251008,,https://t.co/cUENoJpOk2

In [23]:
!ls

 README.md  'Tweets&Summarization.ipynb'   Tweet_wrapper.ipynb